<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net472" />
  <package id="Autofac.Mef" version="4.0.0" targetFramework="net472" />
  <package id="AutoItX.Dotnet" version="3.3.14.5" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.10.3" targetFramework="net472" />
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net472" />
  <package id="ScriptCs.Contracts" version="0.17.1" targetFramework="net472" />
  <package id="ScriptCs.Core" version="0.17.1" targetFramework="net472" />
  <package id="ScriptCs.Engine.Mono" version="0.17.1" targetFramework="net472" />
  <package id="ScriptCs.Engine.Roslyn" version="0.17.1" targetFramework="net472" />
  <package id="ScriptCs.Hosting" version="0.17.1" targetFramework="net472" />
</packages>